.items-body{
    width: 80vw;
    position: absolute;
    left: 20vw;

    padding: 10vh;

    
}

.table{
    width: 100%;
    border: 1px solid gray;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td{
    padding: 3px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.actions{
    display: flex;
    justify-content: center;
    
}

.actions button{
    border: none;
}

.loading-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

button{
    cursor: pointer;
}